<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
</head>
<body ng-app ng-init="firstName = 'John'; lastName = 'Doe';">
    <!--
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span>
        -->
    <strong>First name:</strong> {{firstName}}<br />
    <strong>Last name:</strong> <span ng-bind="lastName"></span><br />
    <br />
    <label>Set the first name: <input type="text" ng-model="firstName" /></label><br />
    <label>Set the last name: <input type="text" ng-model="lastName" /></label>

</body>
</html>
