<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.js"></script>
</head>
<body ng-app ng-init="inputVar = 'test';">
    <label>Type something: <input type="text" ng-model="inputVar" /></label><br />
    <br />
    <h3>1. Simple include</h3>
    <div ng-include="'IncludeJS_1.html'"></div>
    <br />
    <h3>2. Conditional include</h3>
    <label>Include fragment 2: <input type="checkbox" ng-model="includeFrag2" /></label>
    <div ng-include="includeFrag2 ? 'IncludeJS_2.html' : 'IncludeJS_1.html'"></div>
    
</body>
</html>